    <section class="pt40 pb40 bg-color text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 mb-sm-30 text-lg-left text-sm-center ">
                    <h3 class="no-bottom">Now! Make an Appointment.</h3>
                </div>
                <div class="col text-lg-right rtl-lg-left text-center web-only">
                    <a href="mailto:office@kplaw.rs" class="btn-custom btn-black light">Send us a message</a>
                </div>
                <div class="col text-lg-right rtl-lg-left text-center mobile-only">
                    <a href="tel:+381112687930" class="btn-custom btn-black light">Call Us!</a>
                </div>
            </div>
        </div>
    </section>