    <section data-bgcolor="#111111" class="experiences-wrapper text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="offset-lg-7">
                    <span class="p-title">Experiences</span><br>
                    <h2>
                        Let Our Experience<br>be Your Guide
                    </h2>
										<div>

											<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
													<li class="nav-item">
															<a
																	class="nav-link active"
																	id="pills-home-tab"
																	data-toggle="pill"
																	href="#pills-home"
																	role="tab"
																	aria-controls="pills-home"
																	aria-selected="true">Our Attorneys</a>
													</li>
													<li class="nav-item">
															<a
																	class="nav-link"
																	id="pills-profile-tab"
																	data-toggle="pill"
																	href="#pills-profile"
																	role="tab"
																	aria-controls="pills-profile"
																	aria-selected="false">Our Principles</a>
													</li>
													<li class="nav-item">
															<a
																	class="nav-link"
																	id="pills-contact-tab"
																	data-toggle="pill"
																	href="#pills-contact"
																	role="tab"
																	aria-controls="pills-contact"
																	aria-selected="false">Our Office</a>
													</li>
											</ul>
										</div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p>Our team is comprised of passionate and seasoned attorneys with a mindset of serving you — we are easy to work with and relate to our clients. From the moment we agree to work together until we close the case, every step is formulated with you, the client, in mind.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p>Part of our winning strategy is simply caring more, but it goes much further than that. When you choose our Law Firm, you can be sure that protection of your rights is in good hands.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                             <p>Our team’s foundation is our lawyers. We are proud of their diverse backgrounds and experiences and believe that the strength of our firm lies in that diversity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        	<div class="image-container container-fluid col-md-6 pull-right cezar-img">

				</div>
    </section>