<footer>
    <div class="container">
        <div class="de-flex justify-content-center">
            <div class="de-flex-col">
                <div class="widget">
                    <a href="index.html"><img alt="" class="footer-logo mb20 ml20" src="{{ '/assets/images/kostic pecikoza_ENG_logo.png' | url }}"> </a>
                    <address class="s1">
                        <span>
                            <i class="id-color fa fa-map-marker fa-lg"></i>Kralja Milana 10, Beograd</span>
                        <span>
                            <i class="id-color fa fa-phone fa-lg"></i>+381 11 2687930</span>
                        <span>
                            <i class="id-color fa fa-envelope-o fa-lg"></i>
                            <a href="mailto:contact@example.com">office@kplaw.rs</a>
                        </span>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            &copy; KP Law Office
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>