<footer>
    <div class="container">
        <div class="de-flex">
            <div class="de-flex-col">
                <div class="widget">
                    <a href="index.html"><img alt="" class="img-fluid mb20" src="{{ '/assets/images/logo-light.png' | url }}"> </a>
                    <address class="s1">
                        <span>
                            <i class="id-color fa fa-map-marker fa-lg"></i>08 W 36th St, New York, NY 10001</span>
                        <span>
                            <i class="id-color fa fa-phone fa-lg"></i>+1 333 9296</span>
                        <span>
                            <i class="id-color fa fa-envelope-o fa-lg"></i>
                            <a href="mailto:contact@example.com">contact@example.com</a>
                        </span>
                        <span>
                            <i class="id-color fa fa-file-pdf-o fa-lg"></i>
                            <a href="#">Download Brochure</a>
                        </span>
                    </address>
                </div>
            </div>
            <div class="de-flex-col">
                <ul class="ul-style-2">
                    <li>Corporate and M&A</li>
                    <li>Construction and Real Estate</li>
                    <li>Commercial Duspute Resolution</li>
                    <li>Employment</li>
                    <li>Banking and Finance</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            &copy; XOR Technologies
                        </div>
                        <div class="de-flex-col">
                            <div class="social-icons">
                                <a href="#">
                                    <i class="fa fa-facebook fa-lg"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter fa-lg"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin fa-lg"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest fa-lg"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-rss fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>