<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div
                        class="de-flex-col">
                        <!-- logo begin -->
                        <div id="logo">
                            <a href="index.html">
                                <img alt="" class="logo" src="assets/images/logo-light.png"/>
                                <img alt="" class="logo-2" src="assets/images/logo.png"/>
                            </a>
                        </div>
                        <!-- logo close -->
                    </div>
                    <div
                        class="de-flex-col header-col-mid">
                        <!-- mainmenu begin -->
                        <ul id="mainmenu">
                            <li>
                                <a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index-6.html">New: Homepage 6</a></li>
                                    <li><a href="index.html">Homepage 1</a></li>
                                    <li><a href="index-2.html">Homepage 2</a></li>
                                    <li><a href="index-3.html">Homepage 3</a></li>
                                    <li><a href="index-4.html">Homepage 4</a></li>
                                    <li><a href="index-5.html">Homepage 5</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="team.html">The Team</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="practice-areas.html">Practice Areas</a>
                                <ul>
                                    <li><a href="practice-areas.html">Practice Areas 1</a></li>
                                    <li><a href="practice-areas-2.html">Practice Areas 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="news.html">News</a>
                                <ul>
                                    <li><a href="news.html">News List</a></li>
                                    <li><a href="news-single.html">News Single</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                            <li>
                                <a href="#">Elements</a>
                                <ul>
                                    <li><a href="accordion.html">Accordion</a></li>
                                    <li><a href="alerts.html">Alerts</a></li>
                                    <li><a href="counters.html">Counters</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="icon-set-1.html">Icon Set 1</a></li>
                                    <li><a href="modal.html">Modal</a></li>
                                    <li><a href="progress-bar.html">Progress Bar</a></li>
                                    <li><a href="tabs.html">Tabs</a></li>
                                    <li><a href="testimonials.html">Testimonials</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- mainmenu close -->
                    </div>
                    <div class="de-flex-col">
                        <div class="h-phone md-hide">
                            <span>Need&nbsp;Help?</span>
                            <i class="fa fa-phone"></i>
                            1 200 300 9000</div>
                        <span id="menu-btn"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>