  <!-- revolution slider begin -->
    <section id="section-slider" class="fullwidthbanner-container text-white" aria-label="section-slider">
        <div id="slider-revolution">
            <ul>
                <li
                    data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img
                        alt=""
                        class="rev-slidebg"
                        data-bgposition="top center"
                        data-bgfit="cover"
                        data-bgrepeat="no-repeat"
                        data-bgparallax="10"
                        src="{{ '/assets/images/slider/justitia1.webp' | url }}">
                    <div
                        class="tp-caption big-s1"
                        data-x="0"
                        data-y="230"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;"
                        data-transform_out="opacity:0;y:-100;s:200;e:Power2.easeInOut;"
                        data-start="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">
                    </div>
                    <div
                        class="tp-caption very-big-white"
                        data-x="0"
                        data-y="280"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;"
                        data-transform_out="opacity:0;y:-100;s:400;e:Power2.easeInOut;"
                        data-start="600"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">
                        <h1>Proven Results</h1>
                    </div>
                    <div
                        class="tp-caption"
                        data-x="0"
                        data-y="360"
                        data-width="480"
                        data-height="none"
                        data-whitespace="wrap"
                        data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;"
                        data-transform_out="opacity:0;y:-100;s:600;e:Power2.easeInOut;"
                        data-start="700">
                        <p class="lead xs-hide">Our Law Office has provided quality, trusted legal representation to individuals and companies for the past few decades.</p>
                    </div>
                    <div
                        class="tp-caption"
                        data-x="0"
                        data-y="450"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;"
                        data-transform_out="opacity:0;y:-100;s:800;e:Power2.easeInOut;"
                        data-start="800">
                    </div>
                </li>
                <li
                    data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img
                        alt=""
                        class="rev-slidebg"
                        data-bgposition="top center"
                        data-bgfit="cover"
                        data-bgrepeat="no-repeat"
                        data-bgparallax="10"
                        src="{{ '/assets/images/slider/pisaca1.webp' | url }}">
                    <div
                        class="tp-caption big-s1"
                        data-x="0"
                        data-y="230"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;"
                        data-transform_out="opacity:0;y:-100;s:200;e:Power2.easeInOut;"
                        data-start="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">
                    </div>
                    <div
                        class="tp-caption very-big-white"
                        data-x="0"
                        data-y="280"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;"
                        data-transform_out="opacity:0;y:-100;s:400;e:Power2.easeInOut;"
                        data-start="600"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">
                        <h1>Experience When it Matters</h1>
                    </div>
                    <div
                        class="tp-caption"
                        data-x="0"
                        data-y="360"
                        data-width="480"
                        data-height="none"
                        data-whitespace="wrap"
                        data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;"
                        data-transform_out="opacity:0;y:-100;s:600;e:Power2.easeInOut;"
                        data-start="700">
                        <p class="lead xs-hide">Getting the best result for your case means having a team of attorneys with experience in the local courts and with domestic authorities.</p>
                    </div>
                    <div
                        class="tp-caption"
                        data-x="0"
                        data-y="450"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;"
                        data-transform_out="opacity:0;y:-100;s:800;e:Power2.easeInOut;"
                        data-start="800">
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- revolution slider close -->