<section id="section-highlight" class="relative text-light" data-bgcolor="#111111">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <span class="p-title">Welcome</span><br>
                <h2>
                    Tradition.<br>Efficiency. Dedication.
                </h2>
                <div class="small-border sm-left"></div>
            </div>
            <div class="col-md-8">
                <p>We strive to positively influence our community by adopting sustainable business practices and by providing fair and transparent legal services. We believe that by using technology to create efficiency in our practice we are able to increase access to high quality legal services for both individuals and business owners.
                </p>
            </div>
        </div>
        <div class="spacer-double"></div>
    </div>
</section>