<section class="no-top relative z1000">
        <div class="container">
            <div class="row mt-100">
                <div class="col-md-4 mb-sm-30 wow fadeInRight" data-wow-delay=".2s">
                    <div class="mask rounded">
                        <div class="cover rounded">
                            <div class="c-inner">
                                <h3>
                                    <i class="icofont-people"></i>
                                    <span>Business Law</span>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua.</p>
                                <div class="spacer20"></div>
                                <a href="#" class="btn-custom capsule">Read more</a>
                            </div>
                        </div>
                        <img src="{{ '/assets/images/services/1.webp' | url }}" alt="" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-md-4 mb-sm-30 wow fadeInRight" data-wow-delay=".4s">
                    <div class="mask rounded">
                        <div class="cover rounded">
                            <div class="c-inner">
                                <h3>
                                    <i class="icofont-home"></i>
                                    <span>Family Law</span>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua.</p>
                                <div class="spacer20"></div>
                                <a href="#" class="btn-custom capsule">Read more</a>
                            </div>
                        </div>
                        <img src="{{ '/assets/images/services/2.webp' | url }}" alt="" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-md-4 mb-sm-30 wow fadeInRight" data-wow-delay=".6s">
                    <div class="mask rounded">
                        <div class="cover rounded">
                            <div class="c-inner">
                                <h3>
                                    <i class="icofont-car-alt-1"></i>
                                    <span>Criminal Law</span>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua.</p>
                                <div class="spacer20"></div>
                                <a href="#" class="btn-custom capsule">Read more</a>
                            </div>
                        </div>
                        <img src="{{ '/assets/images/services/1.webp' | url }}" alt="" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
    </section>