<section aria-label="section">
		<div class="container">
				<div class="row">
						<div class="col-md-12 text-center">
								<h2>{{'team.title' | i18n}}</h2>
								<div class="small-border"></div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
								<div class="f-profile text-center">
										<div class="fp-wrap f-invert">

												<div class="fpw-overlay-btm"></div>
												<img src="{{ '/assets/images/team/ognjen-kostic-1.webp' | url }}" class="fp-image img-fluid" alt="">
										</div>
										<h4>Ognjen Kostić</h4>
										{{'team.partner' | i18n}}
								</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".4s">
								<div class="f-profile text-center">
										<div class="fp-wrap f-invert">

												<div class="fpw-overlay-btm"></div>
												<img src="{{ '/assets/images/team/jelena-p1.webp' | url }}" class="fp-image img-fluid" alt="">
										</div>
										<h4>Jelena Mihalić Pecikoza</h4>
										{{'team.partner' | i18n}}
								</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
								<div class="f-profile text-center">
										<div class="fp-wrap f-invert">
												<div class="fpw-overlay-btm"></div>
												<img src="{{ '/assets/images/team/stevan-kostic.webp' | url }}" class="fp-image img-fluid" alt="">
										</div>
										<h4>Stevan Kostić</h4>
										{{'team.partner' | i18n}}
								</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".2s">
								<div class="f-profile text-center">
										<div class="fp-wrap f-invert">
												<img src="{{ '/assets/images/team/biljana-kostic2.webp' | url }}" class="fp-image img-fluid" alt="">
										</div>
										<h4>Biljana Kostić</h4>
										{{'team.consultant' | i18n}}
								</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
								<div class="f-profile text-center">
										<div class="fp-wrap f-invert">
												<div class="fpw-overlay-btm"></div>
												<img src="{{ '/assets/images/team/selena-r1.webp' | url }}" class="fp-image img-fluid" alt="">
										</div>
										<h4>Selena Ramadani</h4>
										{{'team.associate' | i18n}}
								</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
								<div class="f-profile text-center">
										<div class="fp-wrap f-invert">

												<div class="fpw-overlay-btm"></div>
												<img src="{{ '/assets/images/team/stefan.webp' | url }}" class="fp-image img-fluid" alt="">
										</div>
										<h4>Stefan Stevančević</h4>
										{{'team.associate' | i18n}}
								</div>
						</div>
				</div>
		</div>
</section>