    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Our Lawyer Team</h2>
                    <div class="small-border"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".2s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{{ '/assets/images/team/biljana-kostic2.webp' | url }}" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Biljana Kostic</h4>
                        Managing Partner
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{{ '/assets/images/team/ognjen-kostic-1.webp' | url }}" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Ognjen Kostic</h4>
                        Associate
                    </div>
                </div>
								<div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{{ '/assets/images/team/stevan-kostic.webp' | url }}" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Stevan Kostic</h4>
                        Associate
                    </div>
                </div>
								<div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".4s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{{ '/assets/images/team/jelena-p1.webp' | url }}" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Jelena Pecikoza</h4>
                        Associate
                    </div>
                </div>
								<div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{{ '/assets/images/team/selena-r1.webp' | url }}" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Selena Ramadani</h4>
                        Associate
                    </div>
                </div>

								<div class="col-lg-4 col-md-6 col-sm-6 offset-md-4 mb30 wow fadeInRight" data-wow-delay=".6s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{{ '/assets/images/team/stefan.webp' | url }}" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Stefan Stefanovic</h4>
                        Associate
                    </div>
                </div>
            </div>
        </div>
    </section>