---
layout: "layouts/base.njk"
title: "Law Office Kostic Pecikoza"
---
<section id="subheader" class="text-light" data-stellar-background-ratio=".3" data-bgimage="url({{ '/assets/images/misc/chairs.webp' | url }})">
    <div class="center-y relative text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Contact us</h1>
                    <p>Tradition. Efficiency. Dedication.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<section aria-label="section">
    <div class="d-flex justify-content-center">
        <div class="col-md-4">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.5454341093473!2d20.459981515535702!3d44.810451779098585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7aaf1f73ded9%3A0xded33187d4424d79!2sKralja%20Milana%2010%2C%20Beograd%2011000!5e0!3m2!1sen!2srs!4v1641216826250!5m2!1sen!2srs" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" class="container-fluid mb30"></iframe>
            <div class="row justify-content-center">
                <address class="s1">
                    <span>
                        <i class="id-color fa fa-map-marker fa-lg"></i>Kralja Milana 10, Beograd</span>
                    <span>
                        <i class="id-color fa fa-phone fa-lg"></i>+381 11 2687930</span>
                    <span>
                        <i class="id-color fa fa-envelope-o fa-lg"></i>
                        <a href="mailto:contact@example.com">office@kplaw.rs</a>
                    </span>
                </address>
            </div>
        </div>
    </div>
</section>
{# <section aria-label="section" class="text-light" data-bgcolor="#111111">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 mb-sm-30 text-center">
                <h3>Do you have any question?</h3>
                <form name="contactForm" id="contact_form" class="form-border" method="post" action="email.php">
                    <div class="field-set">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" />
                    </div>
                    <div class="field-set">
                        <input type="text" name="email" id="email" class="form-control" placeholder="Your Email" />
                    </div>
                    <div class="field-set">
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone" />
                    </div>
                    <div class="field-set">
                        <textarea name="message" id="message" class="form-control" placeholder="Your Message"></textarea>
                    </div>
                    <div class="spacer-half"></div>
                    <div id="submit">
                        <input type="submit" id="send_message" value="Submit Form" class="btn btn-custom" />
                    </div>
                    <div id="mail_success" class="success">Your message has been sent successfully.</div>
                    <div id="mail_fail" class="error">Sorry, error occured this time sending your message.</div>
                </form>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</section> #}