---
layout: "layouts/base.njk"
---
{% include 'components/hero-slider.njk' %}
{% include 'components/cta.njk' %}
{% include 'components/intro.njk' %}
{# {% include 'components/services.njk' %} #}
{% include 'components/experiences.njk' %}
{% include 'components/practice-areas.njk' %}
{# {% include 'components/fun-facts.njk' %} #}
{% include 'components/team.njk' %}
{# {% include 'components/testimonials.njk' %} #}
