---
layout: "layouts/base.njk"
title: "Law Office Kostic Pecikoza"
---
<section id="subheader" class="text-light" data-stellar-background-ratio=".2" data-bgimage="url({{ '/assets/images/background/subheader1.jpg' | url }}) top">
    <div class="center-y relative text-center">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="spacer-single"></div>
                    <h1>Practice Areas</h1>
                    <p>Reputation. Respect. Result.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
            <!-- section close -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb30">
                <div class="f-box f-icon-left f-icon-rounded">
                    <i class="icofont-group bg-color text-light"></i>
                    <div class="fb-text">
                        <h4>Labor</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb30">
                <div class="f-box f-icon-left f-icon-rounded">
                    <i class="icofont-medical-sign-alt bg-color text-light"></i>
                    <div class="fb-text">
                        <h4>Medical &amp; Health Care</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb30">
                <div class="f-box f-icon-left f-icon-rounded">
                    <i class="icofont-mining bg-color text-light"></i>
                    <div class="fb-text">
                        <h4>Mining</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb30">
                <div class="f-box f-icon-left f-icon-rounded">
                    <i class="icofont-law-order bg-color text-light"></i>
                    <div class="fb-text">
                        <h4>Civil &amp; Criminal</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb30">
                <div class="f-box f-icon-left f-icon-rounded">
                    <i class="icofont-group-students bg-color text-light"></i>
                    <div class="fb-text">
                        <h4>Family &amp; Marriage</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb30">
                <div class="f-box f-icon-left f-icon-rounded">
                    <i class="icofont-money bg-color text-light"></i>
                    <div class="fb-text">
                        <h4>Corporate &amp; Investment</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb30">
                <div class="f-box f-icon-left f-icon-rounded">
                    <i class="icofont-building bg-color text-light"></i>
                    <div class="fb-text">
                        <h4>Property</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb30">
                <div class="f-box f-icon-left f-icon-rounded">
                    <i class="icofont-bank bg-color text-light"></i>
                    <div class="fb-text">
                        <h4>Banking &amp; Insurance</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb30">
                <div class="f-box f-icon-left f-icon-rounded">
                    <i class="icofont-light-bulb bg-color text-light"></i>
                    <div class="fb-text">
                        <h4>Intellectual &amp; Property</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- content close -->
<section class="pt40 pb40 bg-color text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 mb-sm-30 text-lg-left text-sm-center">
                <h3 class="no-bottom">Now! Get a Free Counsultation for Your Case.</h3>
            </div>
            <div class="col-md-4 text-lg-right text-sm-center">
                <a href="#" class="btn-custom btn-black light">Make Appointment</a>
            </div>
        </div>
    </div>
</section>
