---
layout: "layouts/base.njk"
title: "Law Office Kostic Pecikoza"
---
<section id="subheader" class="text-light" data-bgcolor="#111111">
    <div class="center-y relative text-center">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="spacer-single"></div>
                    <h1>{{'headerLinkAboutItem2' | i18n}}</h1>
                    <p>{{'slogan' | i18n}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->
<!-- team members-->
<section data-bgcolor="#111111" class="text-light section-bio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <span class="p-title">	{{'team.partner' | i18n}}</span><br>
                <h2>
                  Ognjen Kostić
                </h2>
                <p>
							      <span>
                        <i class="fa fa-phone fa-lg"></i>
												<span>
												  &nbsp;&nbsp;+381 63 559338
												</span>
										</span>
								</p>
								<p>
									<span>
													<i class="fa fa-envelope-o fa-lg"></i>
													<a href="mailto:ognjen.kostic@kplaw.rs">&nbsp; ognjen.kostic@kplaw.rs</a>
									</span>
								</p>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6 pos-right" style="background: url({{'/assets/images/team/ognjen-kostic-1.webp' | url}}); background-repeat: no-repeat; background-size: contain"></div>
</section>
<section data-bgcolor="#111111" class="text-light section-bio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-md-7">
                <span class="p-title">{{'team.partner' | i18n}}</span><br>
                <h2>
                    Jelena Mihalić Pecikoza
                </h2>
                 <p>
							      <span>
                        <i class="fa fa-phone fa-lg"></i>
												<span>
												  &nbsp;&nbsp;+381 60 4100460
												</span>
										</span>
								</p>
								<p>
									<span>
													<i class="fa fa-envelope-o fa-lg"></i>
													<a href="mailto:jelena.mihalic-pecikoza@kplaw.rs">&nbsp; jelena.mihalic-pecikoza@kplaw.rs</a>
									</span>
								</p>

            </div>
        </div>
    </div>
    <div class="image-container col-md-6" style="background: url({{ '/assets/images/team/jelena-p2.webp' | url }}); background-repeat: no-repeat; background-size: contain"></div>
</section>
<section data-bgcolor="#111111" class="text-light section-bio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <span class="p-title">{{'team.partner' | i18n}}</span><br>
                <h2>
                    Stevan Kostić
                </h2>
                    <p>
							      <span>
                        <i class="fa fa-phone fa-lg"></i>
												<span>
												  &nbsp;&nbsp;+381 69 3581107
												</span>
										</span>
								</p>
								<p>
									<span>
													<i class="fa fa-envelope-o fa-lg"></i>
													<a href="mailto:stevan.kostic@kplaw.rs">&nbsp; stevan.kostic@kplaw.rs</a>
									</span>
								</p>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6 pos-right" style="background: url({{ '/assets/images/team/stevan-kostic.webp' | url }}); background-repeat: no-repeat; background-size: contain"></div>
</section>
<section data-bgcolor="#111111" class="text-light section-bio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-md-7">
                <span class="p-title">{{'team.consultant' | i18n}}</span><br>
                <h2>
                   Biljana Kostić
                </h2>
                    <p>
							      <span>
                        <i class="fa fa-phone fa-lg"></i>
												<span>
												  &nbsp;&nbsp;+381 63 214985
												</span>
										</span>
								</p>
								<p>
									<span>
													<i class="fa fa-envelope-o fa-lg"></i>
													<a href="mailto:biljana.kostic@kplaw.rs">&nbsp; biljana.kostic@kplaw.rs</a>
								</p>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6" style="background: url({{ '/assets/images/team/biljana-kostic2.webp' | url }}); background-size: contain"></div>
</section>
<section data-bgcolor="#111111" class="text-light section-bio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <span class="p-title">{{'team.associate' | i18n}}</span><br>
                <h2>
                    Selena Ramadani
                </h2>
								<p>
									 <span>
                        <i class="fa fa-phone fa-lg"></i>
												<span>
												  &nbsp;&nbsp;+381 11 2687930
												</span>
									</span>
								</p>

								<p>
									<span>
													<i class="fa fa-envelope-o fa-lg"></i>
													<a href="mailto:selena.ramadani@kplaw.rs">&nbsp; selena.ramadani@kplaw.rs</a>
									</span>
								</p>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6 pos-right" style="background: url({{ '/assets/images/team/selena-r2.webp' | url }}); background-size: contain"></div>
</section>
<section data-bgcolor="#111111" class="text-light section-bio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-md-7">
                <span class="p-title">{{'team.associate' | i18n}}</span><br>
                <h2>
                    Stefan Stevančević
                </h2>
								<p>
									 <span>
                        <i class="fa fa-phone fa-lg"></i>
												<span>
												  &nbsp;&nbsp;+381 11 2687930
												</span>
									</span>
								</p>

								<p>
									<span>
													<i class="fa fa-envelope-o fa-lg"></i>
													<a href="mailto:stefan.stevancevic@kplaw.rs">&nbsp; stefan.stevancevic@kplaw.rs</a>
									</span>
								</p>
								</p>

            </div>
        </div>
    </div>
    <div class="image-container col-md-6" style="background: url({{ '/assets/images/team/stefan.webp' | url }}); background-size: contain"></div>
</section>


