---
layout: "layouts/base.njk"
title: "Law Office Kostic Pecikoza"
---
<section id="subheader" class="text-light" data-bgcolor="#111111">
    <div class="center-y relative text-center">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="spacer-single"></div>
                    <h1>The Team</h1>
                    <p>Reputation. Respect. Result.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->
<!-- team members-->
<section data-bgcolor="#111111" class="text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <span class="p-title">Managing Partner</span><br>
                <h2>
                    Biljana Kostic
                </h2>
                <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                <div class="social-icons s1">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-rss fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6 pos-right" style="background: url({{'/assets/images/team/biljana-kostic2.webp' | url}}); background-repeat: no-repeat; background-size: contain"></div>
</section>
<section data-bgcolor="#111111" class="text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-md-7">
                <span class="p-title">Senior Partner</span><br>
                <h2>
                    Stevan Kostic
                </h2>
                <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                <div class="social-icons s1">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-rss fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6" style="background: url({{ '/assets/images/team/stevan-kostic.webp' | url }}); background-repeat: no-repeat; background-size: contain"></div>
</section>
<section data-bgcolor="#111111" class="text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <span class="p-title">Associate</span><br>
                <h2>
                    Ognjen Kostic
                </h2>
                <p>consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. occaecat sit eu exercitation irure lorem incididunt nostrud.</p>
                <div class="social-icons s1">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-rss fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6 pos-right" style="background: url({{ '/assets/images/team/ognjen-kostic-2.webp' | url }}); background-repeat: no-repeat; background-size: contain"></div>
</section>
<section data-bgcolor="#111111" class="text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-md-7">
                <span class="p-title">Senior Partner</span><br>
                <h2>
                    Jelena Pecikoza
                </h2>
                <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                <div class="social-icons s1">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-rss fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6" style="background: url({{ '/assets/images/team/jelena-p2.webp' | url }}); background-size: contain"></div>
</section>
<section data-bgcolor="#111111" class="text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <span class="p-title">Associate</span><br>
                <h2>
                    Selena Ramdani
                </h2>
                <p>consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. occaecat sit eu exercitation irure lorem incididunt nostrud.</p>
                <div class="social-icons s1">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-rss fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6 pos-right" style="background: url({{ '/assets/images/team/selena-r2.webp' | url }}); background-size: contain"></div>
</section>
<section data-bgcolor="#111111" class="text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-md-7">
                <span class="p-title">Senior Partner</span><br>
                <h2>
                    Stefan Stevancevic
                </h2>
                <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                <div class="social-icons s1">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-rss fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6" style="background: url({{ '/assets/images/team/stefan.webp' | url }}); background-size: contain"></div>
</section>


