.web-only, .mobile-only {
	display: none
}

@media (min-width: 800px) {
	.experiences-wrapper {
			min-height:600px;
	}

	.web-only {
		display: block;
	}
}

@media (max-width: 800px) {
	.mobile-only {
		display: block;
	}
}

  .cezar-img {
		background-image: url('/assets/images/misc/milos_kostic_2_gw.jpg');
  	max-width:50%;
  	max-height:100%;
		object-fit: fill;
  }

@media only screen and (max-width: 1026px) {
  .cezar-img, .very-big-white, .title-lang {
    display: none;
  }

	#logo {
		margin-top: 20px;
		margin-left: 10px;
	}

	.topbar-widget {

		display: block;
		margin-left: 10px
	}

}

.section-bio {
	min-height: 600px;

}