---
layout: "layouts/home.njk"
title: "Advokatska Kancelarija Kostic Pecikoza"
meta: "Advokatska kancelarija Kostić osnovana je 1968. godine od strane advokata Miloša Kostića (1939-2021). U svojoj bogatoj advokatskoj praksi kancelarija se bavila primarno građanskim pravom, sportskim pravom, privrednim pravom i pravom intelektualne svojine. Kao rezultat dugogodišnje saradnje, došlo je do spajanja sa Advokatskom kancelarijom Pecikoza, čiji osnivač advokat Jelena Mihalić Pecikoza poseduje dugogodišnje iskustvo rada u oblastima imovinsko-pravnih odnosa, privrednog i autorskog prava."
keywords: "advokat, pravo, advokat, parnica, pravna pomoć, legalzoom, advokat, legalis, besplatni pravni saveti, pravni rečnik, advokatska firma, definicija zakona, pravni savet, advokatska kancelarija, šta je pravo, postupak, naknada štete, naplata potraživanja, advokat, pravne usluge, pravno razdvajanje, društvo za pravnu pomoć, pravna pomoć online, zakon, pravni izrazi, pravno značenje"
---