---
layout: "layouts/home.njk"
title: "KP Law – Law firm Serbia - KP Law"
keywords: "lawyer, law, attorney, litigation, legal aid, legalzoom, solicitor,legalis, free legal advice, law dictionary, law firm, law definition, legal advice, law office, what is law, eagle logo, attorney at law, legal services, legal separation, legal aid society, legal aid online, legat,legal terms, legal meaning"
meta: "Kostić Law Office was founded in 1968 by Miloš Kostić - attorney at law (1939-2021). During many years of legal practice, the office primarily focus was on civil, sports commercial and IP law. As a result of many years of cooperation, it merged with the Law Office Pecikoza, whose founder, Jelena Mihalic Pecikoza - attorney at law, has many years of experience in the fields of real estate, commercial and IP Law."
---

