---
layout: "layouts/home.njk"
title: "KP Law – Law firm Serbia - KP Law"
meta: "Law firm Serbia - KP Law aims to be the foremost regional law firm by building long-term relationships with leading corporate clients"
---

